version: '3.8'

services:
    ssh-server:
        image: debian:bullseye-slim
        container_name: ssh-server
        hostname: ssh-server
        networks:
            innet:
                ipv4_address: 10.0.0.30
        build: .
        ports:
            - "2222:22"
        volumes:
            - ./init.sh:/init.sh
        command: /bin/bash /init.sh
    
    atacante:
        image: debian:bullseye-slim
        container_name: atacante
        hostname: atacante
        networks:
            innet:
                ipv4_address: 10.0.0.31
        
        command: > 
            bash -c "
            apt-get update -qq &&
            apt-get install -y -qq openssh-client iputils-ping &&
            sleep infinity"
        tty: true



networks:
    innet:
        driver: bridge
        ipam:
            config:
                - subnet: 10.0.0.0/24


